{{#if src}}
    <button class="button" data-type="round">
        <img src="{{src}}" alt="arrow" />
    </button>
{{else}}
    <button class="button" type="{{#if type}}{{type}}{{else}}button{{/if}}" data-type="{{#if buttonType}}{{buttonType}}{{else}}default{{/if}}">
        {{content}}
    </button>
{{/if}}
