<section class="dialog">
    {{{DialogHeader}}}
    <div class="dialog__content">
        {{{IncomeMessage}}}
        {{{IncomeMessage1}}}
        {{{IncomeMessage2}}}

    </div>
    {{{SendMessage}}}
</section>
