<div>
    <label for="{{ name }}" id="{{name}}" class="input__label">{{ label }}</label>
    <input
        class="input"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
        type="{{ type }}"
    >
    {{>ErrorMessage error=errorMessage }}
</div>
