<div>
    <label for={{ name }} class="input__label">{{ label }}</label>
    <input
        class="input"
        name={{ name }}
        placeholder={{ placeholder }}
        type={{ type }}
    >
    <span class="input__error">{{ errorMessage }}</span>
</div>
