<main class="profilePage">
    {{{PrevLink}}}
    <div class="profilePage__info">
        <div class="profilePage__changeAvatar">
            {{{ChangeAvatar}}}
        </div>
        <div class="profilePage__infoFields">
            {{{EmailInfo}}}
            {{{LoginInfo}}}
            {{{FirstNameInfo}}}
            {{{SecondNameInfo}}}
            {{{NicknameInfo}}}
            {{{PhoneInfo}}}
        </div>
        <div class="profilePage__links">
            <div>
                {{{ChangeData}}}
            </div>
            <div>
                {{{ChangePassword}}}
            </div>
            <div>
                {{{Exit}}}
            </div>
        </div>
    </div>
</main>
