<nav class="navigationPages">
    <h4 class="navigationPages__title">Navigation</h4>
    <ul class="navigationPages__content">
        <li>
            {{{LoginPage}}}
        </li>
        <li>
            {{{SigninPage}}}
        </li>
        <li>
            {{{MainPage}}}
        </li>
        <li>
            {{{ProfilePage}}}
        </li>
        <li>
            {{{ProfileDataPage}}}
        </li>
        <li>
            {{{ProfilePasswordPage}}}
        </li>
        <li>
            {{{404}}}
        </li>
        <li>
            {{{505}}}
        </li>
    </ul>
</nav>
