<div class="infoField">
    <label for={{ name }} class="infoField__label">{{ label }}</label>
    <input
        class="infoField__value"
        name="{{ name }}"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        type="{{ type }}"
    />
</div>